:root {
  --yellow: #ffd240;
  --coffee: #5a3427;
  --pink: #e7a595;
  --green: #51816b;
  --orange: #f05325;
  --dark-brown: #be996c;
  --light-brown: #ddbb92;
  --blue: #a5d0e1;
  --border-radius: 36px;
  font-family: "Caprasimo";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Header start*/

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  padding: 10px 20px;
  background-color: var(--green);
  min-height: 11vh;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  text-decoration: none;
  color: var(--pink);
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: var(--yellow);
}
.leftnav a:hover {
  color: var(--yellow);
}

.leftnav {
  text-align: left;
}
.navname {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--pink);
  transition: color 0.3s ease-in-out;
}

/*Header end*/

/*home start*/

.home {
  position: relative;
  min-height: 89vh;
  background-color: var(--light-brown);
}

.profile_pic {
  position: absolute;
  max-height: 60%;
  object-fit: contain;
  top: 50%;
  transform: translate(0, -50%);
  left: 5%;
  border-radius: var(--border-radius);
}
.profile_pic:hover {
  border-radius: var(--border-radius);
  box-shadow: 0 0 100px var(--yellow);
  transition: color 0.3s ease-in-out;
}

.home_header {
  position: absolute;
  color: var(--coffee);
  font-size: 36px;
  right: 10%;
  top: 10%;
  text-align: center;
}

.home_subheader {
  position: absolute;
  color: var(--coffee);
  font-size: 24px;
  right: 18%;
  top: 40%;
  text-align: center;
  width: 20%;
  line-height: 300%;
}

.resume_btn button {
  position: absolute;
  background-color: var(--green);
  border: none;
  width: 12%;
  height: 10%;
  border-radius: var(--border-radius);
  color: var(--yellow);
  font-size: 22px;
  font-family: "Caprisimo";
  bottom: 17%;
  right: 30%;
  transition: color 0.3s ease-in-out;
}

.resume_button:hover {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--coffee);
  border: 6px solid var(--green);
}

.contact_btn button {
  position: absolute;
  background-color: var(--green);
  border: none;
  width: 12%;
  height: 10%;
  border-radius: var(--border-radius);
  color: var(--yellow);
  font-size: 22px;
  font-family: "Caprisimo";
  bottom: 17%;
  right: 15%;
  transition: color 0.3s ease-in-out;
}

.contact_button:hover {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--coffee);
  border: 6px solid var(--green);
}

.social_logo {
  max-width: 40px;
  position: relative;
}
.linkedin {
  position: absolute;
  bottom: 5%;
  left: 65%;
}
.github {
  position: absolute;
  bottom: 5%;
  left: 74%;
}

/*home end*/

/*about start*/

.about {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}

.box {
  position: absolute;
  background-color: var(--pink);
  border: 6px solid var(--green);
  border-radius: var(--border-radius);
  min-height: 50%;
  text-align: left;
  overflow: auto;
}

.box > p {
  padding: 30px;
  color: var(--coffee);
  line-height: 170%;
  font-size: 22px;
  text-align: center;
  align-items: center;
}

.education {
  width: 26%;
  top: 60%;
  left: 5%;
  transform: translate(0, -50%);
}
.experience {
  width: 26%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills {
  width: 26%;
  top: 60%;
  right: 5%;
  transform: translate(0, -50%);
}

.about_header {
  color: var(--coffee);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  font-size: 36px;
}
.education_subheader {
  color: var(--coffee);
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 20px;
}
.experience_subheader {
  color: var(--coffee);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
}
.skills_subheader {
  color: var(--coffee);
  position: absolute;
  top: 25%;
  left: 83%;
  transform: translate(-50%);
  font-size: 20px;
}

/*about end*/

/*portfolio start*/

.portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}

.portfolio_header {
  color: var(--coffee);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  font-size: 36px;
}

.image_container {
  padding: 2rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--green);
  border: 2px solid black;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/*portfolio end*/

/*contact start*/

.contact {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-brown);
}

.email {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--pink);
  color: var(--coffee);
  font-size: 22px;
  overflow: none;
  width: 50rem;
  height: 5rem;
  resize: none;
  text-wrap: wrap;
  line-height: normal;
  border: 6px solid var(--green);
  border-radius: var(--border-radius);
  text-align: left;
  padding: 15px;
}

.contactInfo {
  position: absolute;
  display: inline-flex;
  justify-content: space-around;
  column-gap: 40px;
  left: 50%;
  top: 14%;
  transform: translate(-50%);
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--pink);
  color: var(--coffee);
  font-size: 22px;
  overflow: none;
  width: 50rem;
  height: 5rem;
  resize: none;
  text-wrap: wrap;
  line-height: normal;
  border: 6px solid var(--green);
  border-radius: var(--border-radius);
  text-align: left;
  padding: 15px;
  padding-left: 10px;
}

.contactInfo a {
  text-decoration: none;
  color: inherit;
}

.message {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--pink);
  color: var(--coffee);
  font-size: 22px;
  width: 50rem;
  height: 20rem;
  resize: none;
  text-wrap: wrap;
  line-height: normal;
  border: 6px solid var(--green);
  border-radius: var(--border-radius);
  text-align: left;
  padding: 15px;
}

.submit {
  position: absolute;
  bottom: 5%;
  left: 23%;
  width: 8rem;
  height: 4rem;
  z-index: 100;
  border-radius: var(--border-radius);
  color: var(--coffee);
  font-size: 22px;
  font-family: "Caprisimo";
  background-color: var(--pink);
  border: 6px solid var(--green);
  transition: color 0.3s ease-in-out;
}
.submit:hover {
  color: var(--coffee);
  background-color: var(--yellow);
  border: 6px solid var(--green);
}

/*contact end*/

/*submission page start*/
.submission_page {
  background-color: var(--blue);
  height: 89vh;
}

.submission_page p {
  position: relative;
  color: var(--coffee);
  font-size: 36px;
  top: 40%;
  left: 0%;
  text-align: center;
}
/*submission page end*/

@media (max-width: 950px) {
  .nav-list li a {
    font-size: 22px;
  }
  .leftnav {
    display: none;
  }
  .home_header {
    font-size: 28px;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
  }
  .profile_pic {
    max-height: 40%;
  }

  .home_subheader {
    font-size: 22px;
    right: 18%;
    top: 30%;
    width: 20%;
  }

  .resume_btn button {
    width: 20%;
    height: 10%;
    font-size: 22px;
    bottom: 17%;
    right: 28%;
  }
  .contact_btn button {
    width: 20%;
    height: 10%;
    font-size: 22px;
    bottom: 17%;
    right: 5%;
  }

  .about {
    height: 200vh;
  }

  .about_header {
    top: 2%;
    left: 50%;
    font-size: 28px;
  }
  .education_subheader {
    top: 13%;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
  }
  .experience_subheader {
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
  }
  .skills_subheader {
    top: 69%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    font-size: 24px;
  }

  .box {
    min-height: 20%;
  }
  .education {
    width: 80%;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }
  .experience {
    width: 80%;
    top: 46%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }
  .skills {
    width: 80%;
    top: 74%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }

  .portfolio {
    height: 80vh;
  }

  .portfolio_header {
    top: 3%;

    font-size: 28px;
  }

  .image_container {
    padding: 2rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }

  .slider-wrapper {
    position: relative;
    max-width: 80vw;
    margin: 0 auto;
  }

  .contactInfo {
    left: 50%;
    top: 14%;
    font-size: 20px;
    width: 90vw;
    height: 5rem;
  }
  .contactInfo img,
  .contactInfo a {
    display: none;
  }
  .email {
    font-size: 20px;
    width: 90vw;
  }
  .message {
    left: 50%;
    bottom: 15%;

    font-size: 20px;
    width: 90vw;
  }

  .submit {
    bottom: 5%;
    left: 5%;

    color: var(--coffee);
    font-size: 20px;
  }
}
